<div class="container-fluid " >
    <div class="row">
        <div style="height:90vh; width: fit-content;" class="col-lg-2  bg-dark d-flex flex-column p-3">
            <a style="text-decoration: none; color:aliceblue;" class="fw-bolder mb-3" routerLink="/dashboard">HOME</a>
            <a style="text-decoration: none; color:aliceblue;" class="fw-bolder mb-3" routerLink="/users">USER</a>
        </div>

        <div class="col-lg-10">
            <div  class="w-100 d-flex align-items-center justify-content-between flex-column">
                <h2>Add User Form</h2>
                <form class="border rounded p-3 w-50 ">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputId" placeholder="Id">
                        <label for="floatingInputnameId">id</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputId" placeholder="Id">
                        <label for="floatingInputnameId">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputnameId" placeholder="Name">
                        <label for="floatingInputnameId">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingInputnameId" placeholder="Name">
                        <label for="floatingInputnameId">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select type="text" class="form-control" name="" id="floatingInputstatus">
                            <option value="">Active</option>
                            <option value="">Inactive</option>
                        </select>
                        <label for="floatingInputstatus">Status</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-warning text-light">Cancel</button>

                        <button class="btn btn-success text-light">Add</button>
                    </div>



                </form>
            </div>

        </div>

    </div>



</div>