[2:22 PM, 4/5/2024] Nandhana Rajesh: <div class="container-fluid">
    <div class="row">
              <div style="height: 90vh ; width: fit-content; " class="col-lg-2 bg-dark d-flex flex-column p-3">
              <a style="text-decoration: none; color: aliceblue;" class="fw-bolder mb-3" routerLink="/dashboard">Home</a>
              <a style="text-decoration: none; color: aliceblue;" class="fw-bolder mb-3" routerLink="/users">USERS</a>

              </div>
              <div class="col-lg-10">
                <div style="height: 100%;" class="w-100 d-flex-align-items-center justify-content-between flex-column">
                    <h2>Add User Form</h2>
                    <form class="border rounded p-3 w-50 mt-5">
                        <div class="form-floating mb-3">
                   …
[2:26 PM, 4/5/2024] Nandhana Rajesh: <div class="container-fluid">
    <div class="row">
              <div style="height: 90vh ; width: fit-content; " class="col-lg-2 bg-dark d-flex flex-column p-3">
              <a style="text-decoration: none; color: aliceblue;" class="fw-bolder mb-3" routerLink="/dashboard">Home</a>
              <a style="text-decoration: none; color: aliceblue;" class="fw-bolder mb-3" routerLink="/users">USERS</a>

              </div>
              <div class="col-lg-10">
                <div style="height: 100%;" class="w-100 d-flex-align-items-center justify-content-between flex-column">
                    <h2>Edit User Form</h2>
                    <form class="border rounded p-3 w-50 mt-5">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInputnameId" placeholder="name@example.com">
                            <label for="floatingInputnameId">Id</label>
                          </div>

                          <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInputname" placeholder="name@example.com">
                            <label for="floatingInputname">Username</label>
                          </div>

                          <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInputemail" placeholder="name@example.com">
                            <label for="floatingInputemail">Email</label>
                          </div>

                          <div class="form-floating mb-3">
                            <select type="email" class="form-control" id="floatingInputstatus">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                            <label for="floatingInputstatus">Status</label>
                          </div>

                          <div class="form-floating mb-3">
                           <button class="btn btn-info">Cancel</button>
                           <button class="btn btn-warning">Update</button>
                          </div>

                    </form>

                </div>

              </div>
        </div>
    </div>
